
body{
   background: #000 url(../img/bg-2.jpg) no-repeat fixed top center;
   margin: auto;
   text-align: center;
   background-size: 100%;
   -moz-background-size: 100%;
   font-family: 'Ubuntu', sans-serif;
}

a, a:active, a:visited, a:hover { text-decoration: none; } 

footer a, footer a:active, footer a:visited {
    color: #93C769; text-decoration: none;
}

footer a:hover {
    color: #fff; text-decoration: none;
}


.logo {
   /*font-family: 'Ubuntu', sans-serif;*/
   background: url("../img/logo-1.png") no-repeat top center;
   color:#81562C;
   font-size:60px;
   text-indent: -9999px;
   width: 200px;
   height: 133px;
   margin: auto;
 }

.col {
  color: #222;
/*  font-family: sans-serif;*/
  /*opacity: 0.68;
  background: #fff;*/
  background: rgba(255,255,255,0.8);
  border: 1px solid #81562C;
  box-shadow: inset 0 0 30px #81562C;
  -moz-box-shadow: inset 0 0 30px #81562C;
  border-radius: 8px;
  -moz-border-radius: 8px;
  position:relative;
  -moz-transition: all 0.3s ease-in;
}

#flash {
  margin-top: 173px;
/*  font-family: sans-serif;*/
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #C09061;
}

#top{
  margin: 7% auto 50%;
  width: 440px;
  overflow:hidden;
}

#main {
    margin-bottom: 50px;
}

#main .logo{
  padding:20px 0px 133px 0px;
  position: absolute;
  top: 30px;
  left:0;
  right:0;
}

.clear {
  clear:both;
}
/*.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }*/


#signup_main {
  margin-bottom: 50px;
}

#signup_features {
  margin-bottom: 20px;
  width: 100%;
  margin:0 auto 3%;
  text-align:center;
}

#signup_features p {
  text-align:center;
}

#signuptext {
 font-size:16px;
/* font-family:sans-serif;
 font-style:italic; */
 line-height: 30px;
 text-shadow: 0px 1px 1px #C09061;
}

#submitform {
  text-align: center;
  padding: 0 20px 0 20px;
}

#submitform #email {
  width:250px;
  color:#222;
  background-color:transparent; /*rgba(63,63,63,0.3);*/
  -moz-transition: all 0.3s ease-in;
  border: 2px solid #81562C;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 20px;
  padding: 11px;  
}

#submitform #email:focus {
  color:#222;
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0 0 10px #C09061;
  -moz-box-shadow: 0 0 10px #C09061;
  -moz-transition: all 0.1s ease-in;
}

#submitform #email:active {
  background-color:rgba(0,0,0,0.5);
  -moz-transition: all 0.3s ease-in;
}

::-webkit-input-placeholder { color: #54310E; }
:-moz-placeholder { color: #54310E; }

.awesome {
  padding: 9px 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px #54310E !important;
  font-size:16px;
  border: 1px solid;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  background-color:#5D8E35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#93C769), to(#5D8E35));background-image:-moz-linear-gradient(top, #93C769, #5D8E35);background-image:-ms-linear-gradient(top, #93C769, #5D8E35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #93C769), color-stop(100%, #5D8E35));background-image:-webkit-linear-gradient(top, #93C769, #5D8E35);background-image:-o-linear-gradient(top, #93C769, #5D8E35);background-image:linear-gradient(top, #93C769, #5D8E35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#93C769', endColorstr='#5D8E35', GradientType=0);border-color:#5D8E35 #5D8E35 #3d773d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.awesome:focus { /*  box-shadow: 0 0 10px #CDF5A8;*/ }

.awesome:hover{background-position:0 -15px;text-decoration:none;}

#submitform #submitbtn {
  height: 40px;
  width: 85px;
}

#learn_more {
  color: white;
  border: 2px solid;
  border-color:#5D8E35 #5D8E35 #3d773d;
  line-height: 40px;
}




  header p {
   padding-left:5px;
 }

  .col header {
     margin: 5px;
     padding-top: 5%;
 }

#bottom{
  overflow:hidden;
  margin: 5% 5% 8% 5%;
  height: 600px;
}


  #scrollup img {
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 120px;
        height: 80px;
  }

  #tagline {
    position: relative;
    text-align: left;
    margin: 5% 5% 2%;
    padding: 0 0 8px 130px;
    border-bottom: 1px solid #81562C;
    text-shadow: 1px 1px 1px #C09061;
    letter-spacing: -1px;
  }

/*  
  a#scrollup {
    font-size: 48px;
    font-weight: 700; 
   text-indent: -9999px;
  }
  
  a#scrollup, a#scrollup:active, a#scrollup:visited, a#scrollup:hover {
    color: #81562C;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
  }

/*  #bottom #scrollup .logo {
    background: 100px 66px;
    width: 100px;
    height: 66px;
    font-size: 40px;
  }*/



  .icons{
    float: left;
    clear: both;
    padding-right: 10px;
  }

  .features {
    float: left;
    padding: 0 0 0 5%;
    width: 27%;
    text-shadow: 1px 1px 1px #C09061;
  }

  .features h3 {
    font-size: 28px;
    margin-bottom: 5%;
  }

  .feature{
    padding-bottom: 6%;
    padding-left: 50px;
    text-align:left;
    min-height:50px;

  }

  .feature p {
    padding-top: 3px;
    font-size: 96%;
  }

  .feature h4 {
    font-size: 20px;
  }

  .feature {
  background: url(../../favicon.ico) no-repeat 0 8px;
  }
/*
  #commission {
    background: url(../img/photo.png)  no-repeat top left;
  }

  #search {
    background: url(../img/search.png)  no-repeat top left;
  }

  #upload {
    background: url(../img/upload.png)  no-repeat top left;
  }

  #promote {
    background: url(../img/promote.png)  no-repeat top left;
  }

  #analyse {
    background: url(../img/analyse.png)  no-repeat top left;
  }
*/
#subtitle{
  top:0;
  left:0;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  background:#FF531A;
  background: rgba(255, 255, 255, 0.5)
  width: 100px;
  height: 25px;
  padding: 1%;
  color: #FFFFFF!important;
}

 .col .no-bullet {
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    padding: 3% 10% 6%;
    text-align: center;

 }

/*
 .col a {
    text-decoration: none;
    text-shadow: 0px 0px 0px #FF531A;
    -webkit-transition: all 1.5s ease-in;
   -moz-transition: all 1.5s ease-in;
   -o-transition: all 1.5s ease-in;
   -ms-transition: all 1.5s ease-in;
   transition: all 1.5s ease-in;
 }

 .col a:hover {
   color:#FF531A;
   text-shadow: 0px 0px 8px #FF531A;
   -webkit-transition: all 1.5s ease-in;
   -moz-transition: all 1.5s ease-in;
   -o-transition: all 1.5s ease-in;
   -ms-transition: all 1.5s ease-in;
   transition: all 1.5s ease-in;
 }*/
 .col ul {
      font-size: 17px;
    line-height: 29px;
    padding: 1px 32px 20px;
    text-align: left;
 }

 .col ul li {
   margin-top: 16px;
 }

.sliderhidden {
  /*display: none;*/
  height:0;
  opacity:0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

 .slidershow{
  height: 100%;
  opacity:100;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }

 .signup {
    color: #FF531A;
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 52px;
    text-align:center;
    padding-bottom: 5%;
 }

#footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(0,0,0,0)),
  to(rgba(26,24,20,0.68)));

  background-image: -moz-linear-gradient(
  rgba(0,0,0,0) 0%, rgba(26,24,20,1) 100%);
 }



footer p {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  font-family: 'Ubuntu';
  font-size:12px;
  color: #93C769;
}
 .gigantic {
 	font-size: 110px;
 	line-height: 120px;
 	letter-spacing: -2px;
 }
 #centerfoot{
   margin-left: 40%;
 }
 .huge, h1 {
 	font-size: 60px;
 	line-height: 72px;
 	letter-spacing: 0px;
 	/*text-shadow: 0 3px 8px #2A2A2A;*/
 }

 h2 {
  font-size: 20px;
  color:#FFFFFF ;
  text-align: left;
  line-height: 28px;
  opacity:1;
 }

 .bigger, h3 {
  font-size: 20px;
  /*color:#FF531A;*/
  /*color: #FF531A;*/
  text-align: left;
  line-height: 28px;
  opacity:1;
 }

 .big, h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight:bold;
  color: #335C11;
  text-align: left;
  opacity:1;
 	/*text-shadow: 0 1px 5px grey;*/
 }


 .small, small {
 	font-size: 13px;
 	line-height: 18px;
 }

 h5 {
   font-size: 22px;
   line-height: 2;
 }



