<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>finance book.club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap-flyleaf.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Google Web Font-->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>


    <!-- Fav and touch icons -->
    <!--link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"-->
                                   <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>

	<div class="container">

	  <div class="row top-bar">
		  <div class="span12">
		    <img src="/img/logo.png"><span style="font-size: 48px; position: relative; top: 48px; ">finance book<span style="font-size: 24px; ">.</span>club</span>
		  </div>
    </div>

      

  <div id="books-container">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h3>Current readings</h3>

<div class="browse_grid_item">
  <div class="browse_grid_item_shadow"></div>
  <!--div class="lateral_nav_placeholder"></div-->
  <a href="/view/agile" class="browse_grid_card" target="_blank">
    <div class="author_line">Sam Ruby</div>
    <div class="cover_art_container">
      <div style="background: transparent url('/view/agile/apple-touch-icon-114x114-precomposed.png') no-repeat center center;" class="cover_art appear"></div>
    </div>
    <div class="title_line">Agile Web Development with Rails</div>
    <div class="cover_overlay">
      <div class="overlay_author">
        <div class="overlay_white_triangle"></div>
        <div class="overlay_dark_triangle"></div>
        <div class="overlay_author_inner">Sam Ruby</div>
      </div>
      <div class="overlay_details">
        <div class="overlay_background"></div>
        <!--div class="overlay_title_line"></div>
        <div class="overlay_subtitle_line"></div-->
        <div class="buy_call_to_action">Start reading &rarr;</div>
      </div>
      <div class="overlay_title">
        <div class="overlay_title_inner">Agile Web Development with Rails</div>
      </div>
    </div>
  </a>
</div>


        </div>
      </div><!--end row-->
    </div><!--end container-->     
  </div>


  </body>
</html>
