<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
	<!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	
	<!-- STARTUP IMAGES -->
	<!-- startup image for web apps - iPad - landscape (748x1024) -->
	<link rel="apple-touch-startup-image" href="apple-touch-startup-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
	<!-- startup image for web apps - iPad - portrait (768x1004) -->
	<link rel="apple-touch-startup-image" href="apple-touch-startup-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
	<!-- startup image for web apps (320x460) -->
	<link rel="apple-touch-startup-image" href="apple-touch-startup-iphone.png" media="screen and (max-device-width: 320px)" />

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/reader.css">
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <!--script src="/js/libs/modernizr-2.0.6.min.js"></script-->
</head>

<body>

  <div id="container">
    <header>
			<div class="toolbar">
				<ul>
					<li><input type="submit" class="toolbar-icon" onclick='history.go(-1)' id="back" value="Back" /></li>
					<li><input type="submit" class="toolbar-icon" onclick='history.go(1)' id="forward"  value="Forward" /></li>
					<li><input type="submit" class="toolbar-icon" onclick='location.href="/"' id="home"  value="Home" /></li>
				</ul>
				<ul>
					<li><input type="submit" class="toolbar-icon right" id="settings" value="Settings" /></li>
					<li><input type="submit" class="toolbar-icon right" id="fontdown" value="Decrease size" /></li>
					<li><input type="submit" class="toolbar-icon right" id="fontup" value="Increase size" /></li>
					<li id="position" class="right"></li>
				</ul>
				<ul class="center">
					<li class="internal-link"><a href="" class="toolbar-icon" id="prev">Previous</a></li>
					<li class="internal-link"><a href="toc" class="toolbar-icon" id="toc">Table of contents</a></li>
					<li class="internal-link"><a href="" class="toolbar-icon" id="next">Next</a></li>
				</ul>
			</div>
    </header>
		<div style="clear:both; height: 40px"></div>
    <div id="main" role="main">
		  <article></article>
    </div>
    <footer>
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-1.7.1.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->
	<script>window.maxChapter = {{max_chapter}};</script>
	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!--script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script-->


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
