<div id="sign-up-form">
	<div class="container-fluid">
		<div id="form-top">
			<a href="/" class="brand">Flyleaf</a>
			<div class="login-text pull-right">
				<a data-toggle="modal" href="#login-box" id="login-button">Log In</a> | <a href="#" id="signup-button">Sign Up</a> 
			</div>
			<div class="header-buttons">
				<a href="/dashboard" class="btn btn-small disabled">Dashboard</a>
				<a href="/upload" class="btn btn-small disabled">Upload &amp; share</a>
			</div>
			<div id="form-bottom" class="clearfix hidden">
				<p id="sign-up-for-free-trial clearfix">
					<span class="user_auth"><b>CREATE</b> your account now for free and <b>START</b> sharing.</span>
					<span class="user_read"><b>READ</b> books directly from your new favorite authors.</span>
				</p>
				<div id="user-select">
					<span class="inputs-list">
							<label class="radio">
								<input type="radio" checked name="usertype" value="user_auth" id="user_author" />
								I am an <strong>author</strong> or an official representative.
							</label>
							<label class="radio">
								<input type="radio" name="usertype" value="user_read" id="user_reader" />
								I am a <span class="bold">reader</span>.
							</label>
						</span>
				</div>
				<p id="instructions">
					<span class="user_auth">You are just one step away from setting up <b>your FREE account</b>! Simply fill out this short sign-up form to get access to <b>the simplest way</b> to distribute your book online.</span>
					<span class="user_read">Join to get access to books <b>directly</b> from great authors. Read books on your <b>iPad, Kindle, Nook</b> and many other devices.</span>
				</p>
			</div><!-- #form-bottom -->
			<div id="active-background"></div><!-- active background image hidden behind ghost -->
			<div id="ghost-background"></div><!-- inactive bg image. animated opacity on hover -->
			<form id="create-flyleaf" name="create-flyleaf">
				<a id="closeMe" href="#" style="display: none;" name="closeMe">&nbsp;</a> <input type="text" form="create-flyleaf" placeholder="Sitename / Username" name="account[subdomain]" id="username"> <span id="domain" class="user_auth">.flyleaf.me</span><br>
				<!--p id="host" class="subtext">We'll host your profile page at this address.</p-->
				 <input type="text" placeholder="Full Name or Pen Name" id="fullname" name="owner[name]">&nbsp; <input type="email" placeholder="Email" id="email" name="owner[email]"> <input type="password" placeholder="Password" id="password" name="owner[pass]">&nbsp; <input type="password" placeholder="Confirm password" id="passwordconfirm" name="owner[repass]"> <input type="text" form="create-flyleaf" placeholder="ZIP / Postal Code" name="address[zip]" id="zip">&nbsp; <select form="create-flyleaf" name="address[country]" id="country">
					<option value="HU">
						Hungary
					</option>
					<option value="US" selected>
						United States
					</option>
				</select> <!--input type="text" form="create-flyleaf" placeholder="Company" name="account[name]" id="company_name"-->
				<br>
				<div id="loading" style="display:none;">
					<p>
						Creating account...
					</p>
				</div><input type="button" id="create-my-flyleaf-click" value="Join now" class="btn btn-primary">
				<div id="terms-and-conditions">
					<div class="shake">
						<input type="checkbox" form="create-flyleaf" value="I agree to the terms &amp; conditions and privacy policy." name="agree" id="terms"> <span class="subtext" id="tos">I agree to the <a href="/company/terms">terms &amp; conditions</a> and <a href="/company/privacy">privacy policy</a>.</span>
					</div>
				</div>
			</form>
		</div><!-- #form-top -->
	</div>
</div>
{{>loginbox}}