<div id="login-box" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Log in your Flyleaf account</h3>
  </div>
  <div class="modal-body">
		<form class="form-horizontal" style="margin-top:20px; font-weight:300;">
			<div class="control-group">
				<label class="control-label" for="login-username">Your username</label>
				<div class="controls">
				  <input type="text" class="input-xlarge" id="login-username">
					<p class="help-block"><a href="#">Forgot username?</a></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="login-password">Password</label>
				<div class="controls">
				  <input type="password" class="input-xlarge" id="login-password">
					<p class="help-block"><a href="#">Forgot password?</a></p>
				</div>
	  	</div>
		</form>
		<p style="margin:0 0 0 300px; font-size:11px">Don't have an account yet?  <a href="">Sign up</a> for free!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Log in</a>
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
  </div>
</div>
