      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">
      			<div class="row-fluid">
							<div class="span2">
								<img src="{{page.profilepic}}" />
							</div>
							<div class="span10">
		            <h2>{{page.username}}</h2>
		            <p>{{page.fullname}}, {{page.location}}</p>
		            <p><a class="btn btn-small">Follow</a></p>
							</div>
						</div>
          </div>

					<div class="booklist">
							{{#books}}
			          <div class="row-fluid">
			            <div class="span12">
			              <h2>{{metadata.title}}</h2>
			            </div><!--/span-->
			          </div><!--/row-->
			          <div class="row-fluid">
			            <div class="span2">
										{{>tombstone}}
			            </div><!--/span-->
			            <div class="span10">
			              <p>{{{zanza}}}</p>
			              <p><a class="btn" href="/read/{{bookid}}/cover">Start reading &raquo;</a></p>
			            </div><!--/span-->
			          </div><!--/row-->
									<div class="clearfix"> </div>
							{{/books}}
					</div>

        </div><!--/span-->
        <div class="span3">
          <div class="well sidebar-nav">
            <div class="nav nav-list">
              <div class="nav-header">About</div>
							<div class="about-text">
								{{{page.about}}}
							</div>
            </div>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
