<div class="browse_grid_item">
	<div class="browse_grid_item_shadow"></div>
	<!--div class="lateral_nav_placeholder"></div-->
	<a href="/read/{{bookid}}/cover" class="browse_grid_card">
		<div class="author_line">{{metadata.creator}}</div>
		<div class="cover_art_container">
			<div style="background: transparent url('/read/{{bookid}}/apple-touch-icon-114x114-precomposed.png') no-repeat center center;" class="cover_art appear"></div>
		</div>
		<div class="title_line">{{metadata.title}}</div>
		<div class="cover_overlay">
			<div class="overlay_author">
				<div class="overlay_white_triangle"></div>
				<div class="overlay_dark_triangle"></div>
				<div class="overlay_author_inner">{{metadata.creator}}</div>
			</div>
			<div class="overlay_details">
				<div class="overlay_background"></div>
				<!--div class="overlay_title_line"></div>
				<div class="overlay_subtitle_line"></div-->
				<div class="buy_call_to_action">Start reading &rarr;</div>
			</div>
			<div class="overlay_title">
				<div class="overlay_title_inner">{{metadata.title}}</div>
			</div>
		</div>
	</a>
</div>
